@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";

@theme {
    --font-sans: "Montserrat", sans-serif;

    --color-primary-1: inherit;
    --color-primary-2: inherit;
    --color-primary-3: inherit;
    --color-primary-4: inherit;
    --color-primary-5: inherit;
    --color-primary-6: inherit;
    --color-primary-7: inherit;
    --color-primary-8: inherit;
    --color-primary-9: inherit;
    --color-primary-10: inherit;
    --color-primary-11: inherit;
    --color-primary-12: inherit;

    --color-primary-a1: inherit;
    --color-primary-a2: inherit;
    --color-primary-a3: inherit;
    --color-primary-a4: inherit;
    --color-primary-a5: inherit;
    --color-primary-a6: inherit;
    --color-primary-a7: inherit;
    --color-primary-a8: inherit;
    --color-primary-a9: inherit;
    --color-primary-a10: inherit;
    --color-primary-a11: inherit;
    --color-primary-a12: inherit;

    --color-primary-contrast: inherit;
    --color-primary-surface: inherit;
    --color-primary-indicator: inherit;
    --color-primary-track: inherit;

    --color-gray-1: #111113;
    --color-gray-2: #19191b;
    --color-gray-3: #222325;
    --color-gray-4: #292a2e;
    --color-gray-5: #303136;
    --color-gray-6: #393a40;
    --color-gray-7: #46484f;
    --color-gray-8: #5f606a;
    --color-gray-9: #6c6e79;
    --color-gray-10: #797b86;
    --color-gray-11: #b2b3bd;
    --color-gray-12: #eeeef0;

    --color-gray-a1: #1111bb03;
    --color-gray-a2: #cbcbf90b;
    --color-gray-a3: #d6e2f916;
    --color-gray-a4: #d1d9f920;
    --color-gray-a5: #d7ddfd28;
    --color-gray-a6: #d9defc33;
    --color-gray-a7: #dae2fd43;
    --color-gray-a8: #e0e3fd60;
    --color-gray-a9: #e0e4fd70;
    --color-gray-a10: #e3e7fd7e;
    --color-gray-a11: #eff0feb9;
    --color-gray-a12: #fdfdffef;

    --color-gray-contrast: #ffffff;
    --color-gray-surface: rgba(0, 0, 0, 0.05);
    --color-gray-indicator: #6c6e79;
    --color-gray-track: #6c6e79;

    --color-true: #14f2b3;
    --color-false: #a4b7d2;
    --color-error: #ff004c;
    --color-hiz: #0085ff;
}

@layer base {
    @supports (color: color(display-p3 1 1 1)) {
        @media (color-gamut: p3) {
            :root {
                --color-gray-1: oklch(17.8% 0.0042 277.7);
                --color-gray-2: oklch(21.5% 0.004 277.7);
                --color-gray-3: oklch(25.5% 0.0055 277.7);
                --color-gray-4: oklch(28.4% 0.0075 277.7);
                --color-gray-5: oklch(31.4% 0.0089 277.7);
                --color-gray-6: oklch(35% 0.01 277.7);
                --color-gray-7: oklch(40.2% 0.0121 277.7);
                --color-gray-8: oklch(49.2% 0.0157 277.7);
                --color-gray-9: oklch(54% 0.0167 277.7);
                --color-gray-10: oklch(58.6% 0.0165 277.7);
                --color-gray-11: oklch(77% 0.0138 277.7);
                --color-gray-12: oklch(94.9% 0.0026 277.7);

                --color-gray-a1: color(display-p3 0.0667 0.0667 0.9412 / 0.009);
                --color-gray-a2: color(display-p3 0.8 0.8 0.9804 / 0.043);
                --color-gray-a3: color(display-p3 0.851 0.898 0.9882 / 0.085);
                --color-gray-a4: color(display-p3 0.8392 0.8706 1 / 0.122);
                --color-gray-a5: color(display-p3 0.8471 0.8745 1 / 0.156);
                --color-gray-a6: color(display-p3 0.8784 0.898 1 / 0.194);
                --color-gray-a7: color(display-p3 0.8745 0.9059 0.9961 / 0.257);
                --color-gray-a8: color(display-p3 0.8941 0.9059 1 / 0.37);
                --color-gray-a9: color(display-p3 0.8902 0.9098 1 / 0.433);
                --color-gray-a10: color(display-p3 0.902 0.9176 1 / 0.488);
                --color-gray-a11: color(display-p3 0.9451 0.949 1 / 0.719);
                --color-gray-a12: color(display-p3 0.9922 0.9922 1 / 0.937);

                --color-gray-contrast: #ffffff;
                --color-gray-surface: color(display-p3 0 0 0 / 5%);
                --color-gray-indicator: oklch(54% 0.0167 277.7);
                --color-gray-track: oklch(54% 0.0167 277.7);
            }
        }
    }

    [data-theme="light"] {
        --color-primary-1: #0e101e;
        --color-primary-2: #131529;
        --color-primary-3: #1d1f52;
        --color-primary-4: #262473;
        --color-primary-5: #2e2d85;
        --color-primary-6: #383895;
        --color-primary-7: #4345ab;
        --color-primary-8: #5051ca;
        --color-primary-9: #615fff;
        --color-primary-10: #585cd5;
        --color-primary-11: #a1adff;
        --color-primary-12: #d8e0ff;

        --color-primary-a1: #0000fe0e;
        --color-primary-a2: #2539fd1a;
        --color-primary-a3: #3d44fe46;
        --color-primary-a4: #4440ff69;
        --color-primary-a5: #4c4afd7d;
        --color-primary-a6: #5757fe8e;
        --color-primary-a7: #5f62ffa5;
        --color-primary-a8: #6263fec7;
        --color-primary-a9: #615fff;
        --color-primary-a10: #676cffd2;
        --color-primary-a11: #a1adff;
        --color-primary-a12: #d8e0ff;

        --color-primary-contrast: #fff;
        --color-primary-surface: #15194180;
        --color-primary-indicator: #615fff;
        --color-primary-track: #615fff;
    }

    @supports (color: color(display-p3 1 1 1)) {
        @media (color-gamut: p3) {
            [data-theme="light"] {
                --color-primary-1: oklch(17.8% 0.0304 277.1);
                --color-primary-2: oklch(20.6% 0.0394 277.1);
                --color-primary-3: oklch(27.1% 0.0916 277.1);
                --color-primary-4: oklch(31.8% 0.1314 277.1);
                --color-primary-5: oklch(35.9% 0.1431 277.1);
                --color-primary-6: oklch(40% 0.148 277.1);
                --color-primary-7: oklch(44.9% 0.1596 277.1);
                --color-primary-8: oklch(50.5% 0.1829 277.1);
                --color-primary-9: oklch(58.3% 0.2305 277.1);
                --color-primary-10: oklch(53.9% 0.1829 277.1);
                --color-primary-11: oklch(77.6% 0.1701 277.1);
                --color-primary-12: oklch(91.3% 0.0558 277.1);

                --color-primary-a1: color(display-p3 0 0 0.9922 / 0.051);
                --color-primary-a2: color(display-p3 0.149 0.2314 1 / 0.097);
                --color-primary-a3: color(display-p3 0.2471 0.2745 0.9961 / 0.261);
                --color-primary-a4: color(display-p3 0.2784 0.2588 1 / 0.395);
                --color-primary-a5: color(display-p3 0.3137 0.302 1 / 0.467);
                --color-primary-a6: color(display-p3 0.3529 0.3529 1 / 0.534);
                --color-primary-a7: color(display-p3 0.3843 0.3961 1 / 0.622);
                --color-primary-a8: color(display-p3 0.4 0.4039 1 / 0.748);
                --color-primary-a9: color(display-p3 0.3922 0.3843 0.9961 / 0.963);
                --color-primary-a10: color(display-p3 0.4235 0.4392 1 / 0.795);
                --color-primary-a11: color(display-p3 0.6549 0.6941 1 / 0.975);
                --color-primary-a12: color(display-p3 0.8627 0.8902 1 / 0.988);

                --color-primary-contrast: #fff;
                --color-primary-surface: color(display-p3 0.0784 0.0941 0.2431 / 0.5);
                --color-primary-indicator: oklch(58.3% 0.2305 277.1);
                --color-primary-track: oklch(58.3% 0.2305 277.1);
            }
        }
    }

    html,
    body {
        margin: 0;
        font-family:
            -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
            "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

@layer utilities {
    .font-bold-main {
        @apply font-sans text-[10px] tracking-[0.03em] font-bold;
    }

    .font-regular-main {
        @apply font-sans text-[10px] tracking-normal font-medium;
    }

    .fade-enter-active,
    .fade-exit-active {
        transition: opacity 0.1s;
    }
    .fade-enter,
    .fade-exit-to {
        opacity: 0;
    }

    .full-size {
        @apply w-full h-full;
    }

    .center {
        @apply flex items-center justify-center;
    }
}
