@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";
@import "./shared/ui/styles/x6.scss";

@theme {
    --font-sans: "Montserrat", sans-serif;

    --color-primary-1: inherit;
    --color-primary-2: inherit;
    --color-primary-3: inherit;
    --color-primary-4: inherit;
    --color-primary-5: inherit;
    --color-primary-6: inherit;
    --color-primary-7: inherit;
    --color-primary-8: inherit;
    --color-primary-9: inherit;
    --color-primary-10: inherit;
    --color-primary-11: inherit;
    --color-primary-12: inherit;

    --color-primary-a1: inherit;
    --color-primary-a2: inherit;
    --color-primary-a3: inherit;
    --color-primary-a4: inherit;
    --color-primary-a5: inherit;
    --color-primary-a6: inherit;
    --color-primary-a7: inherit;
    --color-primary-a8: inherit;
    --color-primary-a9: inherit;
    --color-primary-a10: inherit;
    --color-primary-a11: inherit;
    --color-primary-a12: inherit;

    --color-primary-contrast: inherit;
    --color-primary-surface: inherit;
    --color-primary-indicator: inherit;
    --color-primary-track: inherit;

    --color-gray-1: inherit;
    --color-gray-2: inherit;
    --color-gray-3: inherit;
    --color-gray-4: inherit;
    --color-gray-5: inherit;
    --color-gray-6: inherit;
    --color-gray-7: inherit;
    --color-gray-8: inherit;
    --color-gray-9: inherit;
    --color-gray-10: inherit;
    --color-gray-11: inherit;
    --color-gray-12: inherit;

    --color-gray-a1: inherit;
    --color-gray-a2: inherit;
    --color-gray-a3: inherit;
    --color-gray-a4: inherit;
    --color-gray-a5: inherit;
    --color-gray-a6: inherit;
    --color-gray-a7: inherit;
    --color-gray-a8: inherit;
    --color-gray-a9: inherit;
    --color-gray-a10: inherit;
    --color-gray-a11: inherit;
    --color-gray-a12: inherit;

    --color-gray-contrast: inherit;
    --color-gray-surface: inherit;
    --color-gray-indicator: inherit;
    --color-gray-track: inherit;

    --color-true: #14f2b3;
    --color-false: #a4b7d2;
    --color-x: #e87cbc;
    --color-hiz: #52c5ff;
}

@layer base {
    [data-theme="light"] {
        --color-primary-1: #fdfdff;
        --color-primary-2: #f7f8ff;
        --color-primary-3: #eef1ff;
        --color-primary-4: #e2e8ff;
        --color-primary-5: #d4dcff;
        --color-primary-6: #c3ceff;
        --color-primary-7: #aebaff;
        --color-primary-8: #919dff;
        --color-primary-9: #615fff;
        --color-primary-10: #5754e7;
        --color-primary-11: #4f4bdd;
        --color-primary-12: #25256b;

        --color-primary-a1: #0000ff02;
        --color-primary-a2: #0020ff08;
        --color-primary-a3: #002dff11;
        --color-primary-a4: #0035ff1d;
        --color-primary-a5: #0130ff2b;
        --color-primary-a6: #002fff3c;
        --color-primary-a7: #0026ff51;
        --color-primary-a8: #001cff6e;
        --color-primary-a9: #0300ffa0;
        --color-primary-a10: #0500dbab;
        --color-primary-a11: #0600cfb4;
        --color-primary-a12: #000052da;

        --color-primary-contrast: #ffffff;
        --color-primary-surface: #f5f6ffcc;
        --color-primary-indicator: #615fff;
        --color-primary-track: #615fff;

        --color-gray-1: #ffffff;
        --color-gray-2: #f6f7fb;
        --color-gray-3: #eef0f6;
        --color-gray-4: #e3e6ef;
        --color-gray-5: #d5d9e6;
        --color-gray-6: #c2c8d9;
        --color-gray-7: #aab2c8;
        --color-gray-8: #8d97b3;
        --color-gray-9: #6e7896;
        --color-gray-10: #4b5368;
        --color-gray-11: #202431;
        --color-gray-12: #151824;

        --color-gray-a1: #0b102003;
        --color-gray-a2: #0b102008;
        --color-gray-a3: #0b102012;
        --color-gray-a4: #0b10201c;
        --color-gray-a5: #0b102028;
        --color-gray-a6: #0b102036;
        --color-gray-a7: #0b10204a;
        --color-gray-a8: #0b102066;
        --color-gray-a9: #0b10208a;
        --color-gray-a10: #0b1020ad;
        --color-gray-a11: #0b1020d4;
        --color-gray-a12: #0b1020eb;

        --color-gray-contrast: #ffffff;
        --color-gray-surface: #ffffffcc;
        --color-gray-indicator: #8b8d98;
        --color-gray-track: #8b8d98;
    }

    html,
    body {
        margin: 0;
        font-family:
            -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
            "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

@layer utilities {
    .font-bold-main {
        @apply font-sans text-[10px] tracking-[0.03em] font-bold;
    }

    .font-regular-main {
        @apply font-sans text-[10px] tracking-normal font-medium;
    }

    .fade-enter-active,
    .fade-exit-active {
        transition: opacity 0.1s;
    }

    .fade-enter,
    .fade-exit-to {
        opacity: 0;
    }

    .full-size {
        @apply w-full h-full;
    }

    .center {
        @apply flex items-center justify-center;
    }
}
