@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";

@theme {
    --font-sans: "Montserrat", sans-serif;

    /* Цветовая палитра gray */
    --color-gray-50: #ffffff;
    --color-gray-100: #f1f3f7;
    --color-gray-200: #e2e6ed;
    --color-gray-300: #d2d6df;
    --color-gray-400: #b1b6c3;
    --color-gray-500: #8c92a2;
    --color-gray-600: #676e80;
    --color-gray-700: #495268;
    --color-gray-800: #212938;
    --color-gray-900: #111622;
    --color-gray-950: #000000;
}

@layer utilities {
    .font-bold-main {
        @apply font-sans text-[10px] tracking-[0.03em] font-bold;
    }

    .font-regular-main {
        @apply font-sans text-[10px] tracking-normal font-medium;
    }

    .fade-enter-active,
    .fade-exit-active {
        transition: opacity 0.1s;
    }
    .fade-enter,
    .fade-exit-to {
        opacity: 0;
    }
}

html,
body {
    margin: 0;
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
