@layer utilities {
    .x6-node {
        filter: drop-shadow(0px 4px 0px var(--color-gray-a4));

        .base-logic {
            rect {
                fill: var(--color-gray-1);
                stroke: var(--color-gray-11);
                stroke-width: 2;
                rx: 4;
                ry: 4;
            }

            path {
                stroke: var(--color-gray-9);
                stroke-width: 2;
                stroke-linejoin: round;
                stroke-linecap: round;
                fill: none;
            }
        }

        .x6-port {
            circle.port {
                r: 4.5;
                stroke-width: 2;
                stroke: var(--color-gray-11) !important;
                transition:
                    fill 120ms,
                    stroke 120ms;

                &.signal-true {
                    fill: var(--color-true);
                }
                &.signal-false {
                    fill: var(--color-false);
                }
                &.signal-x {
                    fill: var(--color-x);
                }
                &.signal-hiz {
                    fill: var(--color-hiz);
                }
            }
        }
    }

    .x6-edge {
        path {
            stroke: var(--color-gray-8);
            stroke-width: 2.5;
            stroke-linecap: round;
            stroke-linejoin: round;
        }

        :hover {
            stroke: var(--color-gray-10);
        }

        &.signal-true path {
            stroke: var(--color-true);
        }
        &.signal-false path {
            stroke: var(--color-false);
        }
        &.signal-x path {
            stroke: var(--color-x);
        }
        &.signal-hiz path {
            stroke: var(--color-hiz);
        }

        .connection.signal-true {
            stroke: var(--color-true);
        }
        .connection.signal-false {
            stroke: var(--color-false);
        }
        .connection.signal-x {
            stroke: var(--color-x);
        }
        .connection.signal-hiz {
            stroke: var(--color-hiz);
        }
    }

    .x6-widget-selection-inner {
        display: none;
    }

    .x6-widget-selection {
        &.x6-widget-selection-rubberband {
            @apply border-2! opacity-100! bg-primary-9/10! border-primary-9! rounded!;
        }

        > .x6-widget-selection-inner {
            display: none;
        }

        > .x6-widget-selection-box {
            @apply pr-4! pb-4! -ml-2.5! -mt-2.5! 
                shadow-none! rounded! border-2! border-primary-9! border-dashed!;
        }
    }
}
