@layer utilities {
    .x6-node {
        filter: drop-shadow(0px 4px 0px var(--color-gray-a4));

        .base-logic {
            rect {
                fill: var(--color-gray-1);
                stroke: var(--color-gray-11);
                stroke-width: 2;
                rx: 4;
                ry: 4;
            }

            path {
                stroke: var(--color-gray-9);
                stroke-width: 2;
                stroke-linejoin: round;
                stroke-linecap: round;
                fill: none;
            }
        }

        .x6-port {
            circle.port {
                r: 4.5;
                stroke-width: 2;
                stroke: var(--color-gray-11) !important;
                transition:
                    fill 120ms,
                    stroke 120ms;

                &.signal-true {
                    fill: var(--color-true);
                }
                &.signal-false {
                    fill: var(--color-false);
                }
                &.signal-x {
                    fill: var(--color-error);
                }
                &.signal-hiz {
                    fill: var(--color-hiz);
                }
            }
        }
    }

    .x6-edge {
        path {
            stroke: var(--color-gray-8);
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
        }

        &.signal-true path {
            stroke: var(--color-true);
        }
        &.signal-false path {
            stroke: var(--color-false);
        }
        &.signal-x path {
            stroke: var(--color-x);
        }
        &.signal-hiz path {
            stroke: var(--color-hiz);
        }
    }
}
