@layer utilities {
    .x6-node {
        filter: drop-shadow(0px 4px 0px var(--color-gray-a4));

        .x6-port {
            :hover {
                cursor: pointer !important;
            }

            circle.port {
                r: 4;
                stroke-width: 2;
                stroke: var(--color-gray-11) !important;

                &.value-true {
                    fill: var(--color-true);
                }

                &.value-false {
                    fill: var(--color-false);
                }

                &.value-x {
                    fill: var(--color-x);
                }

                &.value-hiz {
                    fill: var(--color-hiz);
                }

                &.x6-available-magnet {
                    scale: 1.2;
                }
            }

            [magnet="true"]:hover {
                opacity: 1 !important;
            }
        }
    }

    .x6-edge {
        path.connection {
            stroke: var(--color-gray-8);
            stroke-width: 2.5;
            stroke-linecap: round;
            stroke-linejoin: round;

            &.edge-selected {
                stroke: var(--color-primary-9) !important;
                stroke-width: 3.5;
            }

            &.value-true {
                stroke: var(--color-true) !important;
            }
            &.value-false {
                stroke: var(--color-false) !important;
            }
            &.value-x {
                stroke: var(--color-x) !important;
            }
            &.value-hiz {
                stroke: var(--color-hiz) !important;
            }
        }
    }

    .x6-edge-tool-vertices {
        circle.x6-edge-tool-vertex {
            transition: r 100ms ease-in-out;

            r: 4px;

            &:hover {
                r: 5px;
            }
        }

        &.value-x > circle.x6-edge-tool-vertex {
            fill: var(--color-x) !important;
        }

        &.value-false > circle.x6-edge-tool-vertex {
            fill: var(--color-false) !important;
        }

        &.value-true > circle.x6-edge-tool-vertex {
            fill: var(--color-true) !important;
        }

        &.value-hiz > circle.x6-edge-tool-vertex {
            fill: var(--color-hiz) !important;
        }
    }

    .x6-highlight-stroke {
        display: none;
    }

    .x6-widget-selection-inner ~ .clasr {
        display: none;
    }

    .x6-widget-selection {
        z-index: 1 !important;
        pointer-events: none !important;

        &.x6-widget-selection-rubberband {
            @apply border-2! opacity-100! bg-primary-9/10! border-primary-9! rounded!;
        }

        .x6-widget-selection-box-node {
            pointer-events: none !important;
            background: transparent !important;
        }

        .x6-widget-selection-box-edge {
            display: none;
            pointer-events: none;
        }

        > .x6-widget-selection-inner {
            display: none;
        }

        > .x6-widget-selection-box {
            pointer-events: none !important;
            @apply pr-4! pb-4! -ml-2.5! -mt-2.5! 
                shadow-none! rounded! border-2! border-primary-9! border-dashed!;
        }
    }
}
